body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: gray;
    line-height: 1.5;
    margin: 0;
    padding: 2rem;
}

.container-header {
    margin: 20px auto;
    color: rgb(68, 68, 70);
}

.left-header {
    float: left;
}

.image {
    float: right;
}

.nav {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    text-transform: uppercase;
}

.nav-item {
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}
